body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 1.7em;
    width: 100%;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

.navbar { 
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;


}
.navbar img,ul,.left-navbar{
    flex: 1;
}

.card{
    width: 40px;
    height:40px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    color: rgb(199, 199, 199);
}
.navbar ul li a{
    color: rgb(104, 103, 103);
}

.left-navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left-navbar img{
    width: 20px;
    height: 20px;
    flex: 1;
}
.left-navbar h3{
    flex: 2;
    font-weight: 400;
}
.main{
    display: flex;
    align-items: center;
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.main .right-main .meta{
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(15px 15px 15px gray);
    
}
.main .right-main{
    flex: 1;
    position: relative;
}

.main .left-main{
    flex: 1;
}

.main .left-main p{
    width: 70%;
    background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d4b87f, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d3a956, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.btn-add{
    border: none;
    color: white;
    background: purple;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}
.btn-inch{
    border: 1px solid  purple;
    color: purple;
    background: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

.circle1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    width: 400px;


}
.circle2{
    position: absolute;
    top: 40%;
    right: 50%;
    z-index: -1;
    opacity: 0.5;


}
.circle3{
    position: absolute;
    top: 70%;
    right: 80%;
    z-index: -1;
    opacity: 0.5;


}

.select{
    width: 10%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 20%;
    bottom: 5%;
    

}

@media screen and ( max-width:800px){
    .main{
        flex-direction: column;
    }
    .left-main{
        text-align: center;
        
    }
    .main .left-main p{
        width: 100%;
        
    }
    .select{
        right: 50%;
        bottom: 0;
    }
    .navbar ul li{
        padding: 0 5px;
    }

}


